PROJECT_HOME=/opt/airflow/project
SOURCE_XLSX_PATH=/opt/airflow/project/data/input/italy_test_task.xlsx
POS_SOURCE_DB_PATH=/opt/airflow/project/data/runtime/pos_source.duckdb
DWH_DB_PATH=/opt/airflow/project/data/runtime/dwh.duckdb
DBT_PROFILES_DIR=/opt/airflow/project/.dbt
